#mapContainer,
#listContainer {
    background-color: #D6D6D6
}

#map {
    height: 600px
}

.modal-header h4 {
    font-size: 20pt;
    font-weight: 400
}

.modal-header button.close {
    font-weight: 400;
    font-size: 24pt;
    text-shadow: none;
    opacity: 1;
    color: #D6D6D6
}

#mapListButtons button {
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    padding: 5px 20px;
    margin-right: 5px;
    background-color: #D6D6D6;
    border-color: #D6D6D6
}

#mapListButtons button.selected {
    background-color: #D6D6D6
}